@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100;200;300;400;500;600;700;800&display=swap');
.card{
  width:250px;
  height: 450px;
  background:white;
  border-radius:12px;
  overflow:hidden;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
  position:relative;
}

.card-image{
  width:100%;
  height:140px;
  object-fit:cover;
}

.card-content{
  padding:12px;
  font-family:'K2D', sans-serif;
}

.card-title{
  font-size:16px;
  font-weight:600;
  font-family:'K2D', sans-serif;
}

.card-desde{
  font-size:12px;
  color:gray;
  font-family:'K2D', sans-serif;
}

.card-price{
  font-size:18px;
  font-weight:bold;
  font-family:'K2D', sans-serif;
}

.card-unit{
  font-size:12px;
  font-family:'K2D', sans-serif;
}

.card-discount{
  font-size:12px;
  color:green;
  font-family:'K2D', sans-serif;
}

.card-heart-btn{
  position:absolute;
  top:10px;
  right:10px;
  background:white;
  border:none;
  border-radius:50%;
  padding:6px;
  cursor:pointer;
}