.footer {
  width: 100%;
  background: #000; 
  color: #e8f5f0;
  padding: 60px 40px 30px 40px;
  font-family: "K2D", sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 40px;
}

.footer-logo {
  width: 160px;
  margin-bottom: 15px;
}

/* TITULOS */
.footer-section h4 {
  margin-bottom: 15px;
  color: #74e2d7;
}

/* TEXTO DESCRIPCIÓN */
.footer-section p {
  color: #b5cfcf; /* gris claro elegante */
  line-height: 1.5;
  font-size: 14px;
}

/* LISTAS */
.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-link-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-section li {
  margin-bottom: 10px;
  color: #cfeaea;
  cursor: pointer;
  transition: 0.2s;
}

.footer-section li:hover {
  color: #74e2d7;
  transform: translateX(3px);
}

/* COPYRIGHT */
.footer-bottom {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 20px;
  margin-top: 30px;
  color: #b5cfcf; /* mismo tono que descripción */
  font-size: 13px;
}

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .footer {
    padding: 40px 20px 20px 20px;
  }
}

