@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100;200;300;400;500;600;700;800&display=swap');
.navbar{
  width:100%;
  height:80px;
  background:#0f4d4a;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 40px;
  color:white;
}

.navbar-left{
  display:flex;
  align-items:center;
  gap:10px;
}

.logo{
  width:140px;
}

.brand{
  font-weight:bold;
  font-family:'K2D', sans-serif;
  font-size:40px;
}

.navbar-center{
  flex:1;
  display:flex;
  justify-content:center;
}

.search-bar{
  width:450px;
  padding:10px;
  border-radius:8px;
  border:none;
}

.navbar-right{
  display:flex;
  align-items:center;
  gap:20px;
}

.language{
  display:flex;
  align-items:center;
  gap:8px;
  font-size:14px;
}

.flag{
  width:20px;
}

.icon{
  cursor:pointer;
  font-size:20px;
}