  @import url('https://fonts.googleapis.com/css2?family=K2D:wght@100;200;300;400;500;600;700;800&display=swap');
  .sidebar-container {
  width: 200px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: white;
  font-family: sans-serif;
  margin-left: 10%;
  font-family:'K2D', sans-serif;
}

.filtro-seccion {
  background-color: #38787E;
  border-radius: 10px;
  overflow: hidden;
}

.filtro-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  font-weight: 600;
  font-size: 0.95rem;
  cursor: pointer;
  background-color: #38787E;
  font-family:'K2D', sans-serif;
}

.filtro-body {
  padding: 10px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Inputs de Precio */
.precio-inputs {
  display: flex;
  gap: 10px;
}

.dark-input {
  width: 100%;
  padding: 8px;
  background-color: #0d3335;
  border: 1px solid #0d3335;
  border-radius: 4px;
  color: white;
  outline: none;
}

.dark-input:focus {
  border-color: #4a9d9a;
}

/* Select de Ciudad */
.dark-select {
  width: 100%;
  padding: 10px;
  background-color: #0d3335;
  color: white;
  border: none;
  border-radius: 6px;
  outline: none;
  appearance: none;
  cursor: pointer;
}

/* Lista de Categorías */
.checkbox-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 0.88rem;
  padding: 2px 0;
  font-family:'K2D', sans-serif;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Checkbox personalizado */
.checkbox-group input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #4a9d9a;
  border-radius: 4px;
  background-color: #0d3335;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}

.checkbox-group input[type="checkbox"]:checked {
  background-color: #000000;
  border-color: #4a9d9a;
}

.checkbox-group input[type="checkbox"]:checked::after {
  content: '✓';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
  font-weight: bold;
  font-family:'K2D', sans-serif;
}

.count {
  font-size: 0.85rem;
  color: #a0c2c1;
}
.filtro-body {
  animation: slideDown 0.2s ease;
}

@keyframes slideDown {
  from { opacity: 0; transform: translateY(-6px); }
  to   { opacity: 1; transform: translateY(0); }
}